/* See https://madebymike.com.au/writing/precise-control-responsive-typography/ */
@media all and (max-width: 800px) {
    html, body, input, select, button {
        font-size: calc(8px + 1vw);
    }
}

/* at width 800px => 16px */

@media all and (min-width: 800px) {
    html, body, input, select, button {
        font-size: calc(0px + 2vw);
    }
}